/* .login-comp {
  width: 100%;
  height: 90vh;
}

.login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-card {
  align-self: center;
  width: 100%;
  border: 1px solid green;
} */
